@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.site-header {
  // background: #f6f6f6;

  text-align: center;
  width: 100%;
  padding: 50px 0 0;

  .site-title {
    animation-name: fadeInDown;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-delay: 0.3s;
    font-family: $sans-serif;
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;

    a {
      &:hover {
        color: #111;
      }
    }

    span {
      display: block;
      font-size: 0.6em;
    }
  }
}
