.site-header {
  background: white;
  text-align: center;
  width: 100%;
  padding: 50px 0;

  .site-title {
    font-size: 1.5em;
    text-transform: uppercase;

    span {
      display: block;
      font-size: 0.6em;
    }
  }
}
