.header {
  background: white;

  width: 100%;
  padding: 50px 0;

  .site-title {
    float: left;
  }

  nav {
    float: right;

    li {
      display: inline;
      margin-left: 30px;
    }
  }
}
