// BREAKPOINTS
$mobile-size:em(320);
$tablet-size:720px;
$desktop-size:em(960);
$largedesktop-size:em(1050);

$mobile: new-breakpoint(min-width $mobile-size 4);
$tablet: new-breakpoint(min-width $tablet-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);

// COLOURS
$primary-colour: #C98C55;

$link-hover-colour: $primary-colour;

// TYPOGRAPHY
$serif: Georgia, serif;
$sans-serif: 'Montserrat', sans-serif;

$base-font-size: (16/16)*100%;
$baseline-unitless: 24/(16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;