body {
  font-family: $serif;
}

::selection {
  background: $primary-colour;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #111;
  text-decoration: $anchor-text-decoration;

  &:hover {
    color: $link-hover-colour;
  }
}

.container {
  max-width: 940px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.content {
  margin: 62px 0;
}
