<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8" />

  <title>{{ page.title }} | {{ site.name }}</title>

  <meta name="viewport" content="initial-scale=1" />
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="og:url" content="{{ page.url }}"/>
  <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
  <meta name="theme-color" content="{{ site.color }}" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  
</head>
<body>
  <header class="site-header header-fixed">
    <div class="site-header_wrap">
      <h1 class="site-header__title">
        <a href="{{ site.baseurl }}">
          {% include logo.html %}
        </a>
      </h1>

      {% include nav.html %}
    </div>
  </header>