.posts {
  text-align: center;
  li {

    &:first-child {
      margin-top: 0;
    }

    margin-top: 42px;
    margin-bottom: 42px;
    // padding-bottom: 42px;
    // border-bottom: 1px solid #d6d6d6;
    .post-link {
      font-size: 2em;
      font-weight: 400;
      padding-bottom: 2px;
      // border-bottom: 1px solid rgba(#999999, 0);
      transition: all, 0.3s, ease-in-out;
      // &:hover {
      //   border-bottom: 1px solid rgba(#999999, 1);
      // }
    }
    .post-date {
      display: block;
      margin-top: 10px;
      font-family: $sans-serif;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #333;
    }
  }
}

.divider {
  margin: 0 auto;
  height: 1px;
  width: 100px;
  background: $primary-colour;
}
