.post {
  img {
    width: 110%;
    margin-left: calc(-4% - #{$baseline/2});
    margin-right: $baseline;
  }
}

.post-header {


}

.post-meta {
  display: block;
  margin-top: 10px;
  font-family: $sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}