// $logo-colors: (
//   #000000,
//   #FFBA00,
//   #aaaaaa,
//   #966443
// );

$logo-colors: (
  #000000,
  #30c9e8,
  #e8308c,
  #e8b730
);

$l: length($logo-colors);


@keyframes color-cycle {
  @for $i from 1 through $l {
    #{(100/$l)*($i - 1)}% {
      background: nth($logo-colors, $i);
    }
  }
}

.svg {
  border-radius: 100px;
  width: 100%;
  height: auto;
  animation: color-cycle #{$l/8}s steps(1, end) infinite;
  animation-play-state: paused;
  transition: all, 0.5s, ease-in-out;
  path {
    // fill: #111;
  }
  .circle-stroke path {
      fill: none;
  }

  .taj path{
    fill: white;
  }
  
   &:hover {
    animation-play-state: running;
    transform: rotate(1turn) scale(1.2, 1.2);
   }
}

.site-header {
  // background: #f6f6f6;

  // text-align: center;
  width: 100%;
  padding: 50px 16px 0;

  .site-title {
    // animation-name: fadeInDown;
    // animation-duration: 0.5s;
    // animation-fill-mode: both;
    // animation-delay: 0.3s;
    font-family: $sans-serif;
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    width: 70px;
    margin: 0 auto;
    a {
      &:hover {
        color: #111;
      }
    }

    span {
      display: block;
      font-size: 0.6em;
    }
  }
}
