{% include header.html %}

<main class="container">
  <article class="content">
    <h1 class="page-title">{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }}</p>

    <div class="post">
      <p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>

      {{ content }}
      
      <p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
      <p>
        {% if page.previous.url %}
          <a href="{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </p>
    </div>
  </article>
</main>

{% include footer.html %}