// Colours
$primary-colour: #C98C55;

$link-hover-colour: $primary-colour;

// Typography

$serif: Georgia, serif;
$sans-serif: 'Montserrat', sans-serif;

$base-font-size: (16/16)*100%;
$baseline-unitless: 24/(16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;