body {
  font-family: $serif;
}

$link-hover-colour: #999;

a {
  color: #111;
  text-decoration: $anchor-text-decoration;

  &:hover {
    color: $link-hover-colour;
  }
}

.container {
  max-width: 940px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.content {
  margin: 62px 0;
}
